/* Importing Josefin from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
html,
body {
  margin: 0;
  padding-top: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
/*Styling the scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 145, 255);
  border-radius: 10%;
}
/* Setting font sizes for all the html headings and paragraphs*/
h2 {
  font-size: 40px;
}
#hero-h2 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
/* Navigation Bar - flexbox and fixed */
header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 30px;
  background-color: white;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}
/* Adjusting the logo and the buttons */
.Jukebox-logo {
  margin-left: 2rem;
}
nav {
  margin-right: 2rem;
}
/* Navigation and Hero section buttons-style with transition property */
.btn {
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #ec1e85;
  color: rgb(255, 255, 255);
  letter-spacing: 0.35px;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: border-color 300ms ease;
}
#subscribe-today-btn {
  width: 14rem;
  height: 3rem;
  font-size: 17px;
}
.btn:hover {
  border-color: #ec1e85;
  text-decoration: none;
  background-color: #ffffff;
  color: #ec1e85;
}
/* Hero section with flexbox */
.hero-container {
  display: flex;
  background: url("./images/hero-photo.png");
  justify-content: left;
  height: 450px;
  color: white;
  background-size: cover;
  background-position: 0% 66%;
  position: relative;
  padding: 200px;
}
/* Memberships section with flexbox  */
.membership-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 50px;
}
.membership-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 550px;
  gap: 70px;
  text-align: center;
  color: white;
  flex-grow: 1;
  flex-shrink: 1;
}
.membership-container ul li {
  list-style-type: none;
  text-align: center;
  line-height: 1.5;
}
.membership-text h3 {
  color: rgb(0, 145, 255);
}
.membership-text p {
  color: rgb(137, 137, 137);
}
/* Membership boxex/cards */
.basic-box {
  background-color: rgb(0, 145, 255);
  width: 250px;
  height: 375px;
  border-radius: 5%;
  padding-right: 20px;
  position: relative;
}
/*START Creating a glowing effect for the Membership boxes*/
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.basic-box::after,
.basic-box::before {
  /* --angle: 0deg; ---declaring a CSS variable-which are not animatable but we can with @property rule*/
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    rgb(0, 145, 255),
    rgb(106, 0, 255),
    rgb(166, 0, 255),
    #ec1e85
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 5%;
  animation: 4s spin linear infinite;
}
.basic-box::before {
  filter: blur(1rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
/*END Creating a glowing effect for the Membership boxes*/

/* Continue glowing effect for all of the boxes*/
.plus-box {
  background-color: rgb(106, 0, 255);
  width: 250px;
  height: 375px;
  border-radius: 5%;
  padding-right: 20px;
  position: relative;
}
/*Start the glowing effect plus-box*/
.plus-box::after,
.plus-box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    rgb(0, 145, 255),
    rgb(106, 0, 255),
    rgb(166, 0, 255),
    #ec1e85
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 5%;
  animation: 4s spin linear infinite;
}
.plus-box::before {
  filter: blur(1rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
/*End the glowing effect plus-box*/
.premium-box {
  background-color: rgb(166, 0, 255);
  width: 250px;
  height: 375px;
  border-radius: 5%;
  padding-right: 20px;
  position: relative;
}
/*Start the glowing effect premium-box*/
.premium-box::after,
.premium-box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    rgb(0, 145, 255),
    rgb(106, 0, 255),
    rgb(166, 0, 255),
    #ec1e85
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 5%;
  animation: 4s spin linear infinite;
}
.premium-box::before {
  filter: blur(1rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
/*End the glowing effect premium-box*/

/* Membership boxes/cards - taking every box button separate and style it individualy???*/
.basic-box .signup-btn {
  width: 120px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.35px;
  background-color: rgb(0, 145, 255);
  border: 2px solid white;
  border-radius: 100px;
  transition: border-color 300ms ease;
}
.basic-box .signup-btn:hover {
  border-color: white;
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(0, 145, 255);
}
.plus-box .signup-btn {
  width: 120px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.35px;
  background-color: rgb(106, 0, 255);
  border: 2px solid white;
  border-radius: 100px;
  transition: border-color 300ms ease;
}
.plus-box .signup-btn:hover {
  border-color: white;
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(106, 0, 255);
}
.premium-box .signup-btn {
  width: 120px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.35px;
  background-color: rgb(166, 0, 255);
  border: 2px solid white;
  border-radius: 100px;
  transition: border-color 300ms ease;
}
.premium-box .signup-btn:hover {
  border-color: white;
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(166, 0, 255);
}
/* Benefits section with flexbox */
.benefits {
  background: url("./images/about-photo.png");
  display: flex;
  height: 750px;
  color: white;
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
}
.cab-container {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
/* Artists section with grid */
.artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}
.artist-text h3 {
  color: rgb(0, 145, 255);
}
.artist-text {
  color: rgb(137, 137, 137);
}
.artists-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 2rem;
}
/*footer section with flexbox*/
footer {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 145, 255);
  padding-left: 3rem;
  padding-right: 3rem;
}
footer .contact-container {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

/*Making the website responsive for tablets and phones - 2 breakpoints*/

@media (max-width: 960px) {
  body {
    padding: 10px;
  }
  #hero-h2 {
    font-size: 40px;
  }
  .hero-container {
    padding: 100px;
    height: 300px;
  }
  .membership {
    display: flex;
    flex-direction: column;
  }
  .membership-container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .membership-text {
    margin-top: 20px;
  }
  .benefits {
    height: 950px;
  }
  .cab-container {
    display: flex;
    flex-direction: column;
  }
  .artists-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0.5rem;
  }
}
@media (max-width: 640px) {
  body {
    padding: 5px;
  }
  #hero-h2 {
    font-size: 35px;
  }
  .hero-container {
    padding: 70px;
    height: 300px;
  }
  .Jukebox-logo {
    margin-left: 0.5rem;
  }
  nav {
    margin-right: 1.5rem;
  }
  .artists-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0.3rem;
  }
  footer .contact-container {
    gap: 5px;
  }
  footer {
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
}
